
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户注册</title>
    <link href="~/样式/css/LoginStyle.css" rel="stylesheet" />
</head>
<body class="imges">
    <div class="div1Zhu">
        <table style="margin:450px 800px;width:350px;height:250px;">
            <tr>
                <td><h3>账号：</h3></td>
                <td><input id="txtuname" type="text" style="color:aqua" name="username" value="" placeholder="请输入用户名" /></td>
            </tr>
            <tr>
                <td><h3>密码：</h3></td>
                <td><input id="txtpwd" type="text" style="color:aqua" name="username" value="" placeholder="请输入用户密码" /></td>
            </tr>
            <tr>
                <td><h3>验证码：</h3></td>
                <td><input id="yz" type="text" style="color:aqua" name="username" value="" placeholder="请输入验证码" /></td>
                <td><input id="yz" type="button" name="yanzheng" value="获取验证码" style="background-color:gold" /></td>
            </tr>
        </table>
    </div>
</body>
</html>
<script>

</script>
