
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>售后记录</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
</head>
<body>
    <div>
        <div class="layui-header " style="background-color:antiquewhite">
            <h3 style="color:green">欢迎来到星空购物城</h3>
            <span class="layui-breadcrumb" lay-separator="|" style="margin-left:5cm">
                <a href="http://qrin66.axshare.cn/%E5%95%86%E5%93%81%E5%88%86%E7%B1%BB.html#nav=%E6%9C%8D%E8%A3%85&CSUM=1">居家</a>
                <a href="http://qrin66.axshare.cn/%E5%95%86%E5%93%81%E5%88%86%E7%B1%BB.html#nav=%E6%9C%8D%E8%A3%85&CSUM=1">服装</a>
                <a href="http://qrin66.axshare.cn/%E5%95%86%E5%93%81%E5%88%86%E7%B1%BB.html#nav=%E6%9C%8D%E8%A3%85&CSUM=1">运动</a>
                <a href="http://qrin66.axshare.cn/%E5%95%86%E5%93%81%E5%88%86%E7%B1%BB.html#nav=%E6%9C%8D%E8%A3%85&CSUM=1">婴儿</a>
                <a href="http://qrin66.axshare.cn/%E5%95%86%E5%93%81%E5%88%86%E7%B1%BB.html#nav=%E6%9C%8D%E8%A3%85&CSUM=1">洗护</a>
                <a href="http://qrin66.axshare.cn/%E5%95%86%E5%93%81%E5%88%86%E7%B1%BB.html#nav=%E6%9C%8D%E8%A3%85&CSUM=1">电器</a>
                <a href="http://qrin66.axshare.cn/%E5%95%86%E5%93%81%E5%88%86%E7%B1%BB.html#nav=%E6%9C%8D%E8%A3%85&CSUM=1">饮食</a>
            </span>
            <div class="demoTable">
                <div style="margin-left:900px">
                    <input id="demoReload" type="text" placeholder="输入关键字进行搜索">
                    <input type="image" name="submi" src="~/样式/css/Zhuimages/~{7BP$~){~RBMBP)2Q@LKBG.png" id="cha" />
                </div>
            </div>
        </div>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="layui-form-item">
                <label class="layui-form-label">全部</label>
                <div class="layui-input-block">
                    <select name="interest" lay-filter="aihao">
                        <option value=""></option>
                        <option value="1">换货</option>
                        <option value="2">退货</option>
                    </select>
                </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="layui-inline">
                <input class="layui-input" name="id" id="demoReload" autocomplete="off" placeholder="请输入订单号/商品名称">
            </div>
            <button class="layui-btn" data-type="reload" style="background-color:lavender">搜索</button>
        </div>
    </div>
</body>
</html>
<script>
    
</script>
